.aboutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

#home {
  padding-top: 100px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

.aboutText p {
  font-size: 60px;
  font-weight: 800;
}

.aboutContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@keyframes wave {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(45deg);
  }
  100% {
      transform: rotate(0deg);
  }
}
.wave {
  display: inline-block;
  animation: wave 2s infinite;
}

.aboutText {
  max-width: 400px;
  line-height: 60px;
}

.profileImage {
  max-width: 100%;
  border-radius: 50%;
}

.imageWithCircle {
  position: relative;
  display: inline-block;
}

.imageWithCircle img {
  width: 250px;
  border-radius: 20px;
}

.imageWithCircle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: red;
  z-index: -1;
}

.imageWithCircle img {
  transition: transform 0.9s ease; 
}

.imageWithCircle img:hover {
  transform: scale(1.4);
  border-radius: 10%;
  overflow: hidden; 
}

.Iam{
  font-size: 80px;
  margin-right: 20px;
}

.resumeButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s; 
}

.resumeButton:hover {
  background-color:#fff;
  color: #4caf50;
  border: 2px solid #4caf50;
  transform: scale(1.05); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.resumeButton:focus {
  outline: none; 
}

@media (max-width: 1200px) {
  .aboutText p {
    font-size: 40px;
  }

  .imageWithCircle::before {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  #home {
    padding-top: 50px;
  }

  .aboutContainer {
    flex-direction: column;
    text-align: center;
  }

  .aboutText {
    margin-bottom: 10px;
    line-height: 40px;
  }

  .imageWithCircle::before {
    width: 150px;
    height: 150px;
  }

  .imageWithCircle img {
    width: 200px;
  }

  h2 {
    font-size: 24px;
  }

  .aboutText p {
    font-size: 30px;
  }

  .resumeButton {
    padding: 8px 16px;
    font-size: 16px;
  }
}