.active {
  position: relative;
}
.click {
  position: relative;
  color: rgb(175, 14, 14);
  animation: growLine 0.5s linear forwards;
}
.name {
  background: linear-gradient(to right, #007bff, #9c1348);
  -webkit-background-clip: text;
  color: transparent;
  margin-right: 20px;
}
.button {
  background-color: #b30c7b;
  color: #fff;
  border: none;
  font-size: 20px;
  background: linear-gradient(to right, #007bff, #525ac0);
  padding: 4px 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
}

.darkMode {
  background-color: rgb(31, 24, 24);
  color: white;
}

.active:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(189, 25, 126);
  bottom: -3px;
  left: 0;
  animation: growLine 0.5s linear forwards;
}
.click::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: white;
  bottom: -5px;
  left: 0;
  animation: growLine 0.5s linear forwards;
}

@keyframes growLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
